$white: #FFFFFF;
$main-bgr-color: #F8F8F8;
$main-text-color: #1B1C21;
$grey-text-color: #7E7E82;
$mint-green: #41F6D7;
$strawberry: #FF3E79;
$divider-creamy: #EAEAEA;
$grey-input-label: #B5B6BC;
$greeny-border: #D9FFF5;
$confidential-text: #7E7E82;
